@for (item of agenda(); track $index) {
  <div class="agenda-item">
    <h2>Agenda {{ item.ano }}</h2>
    @for (mes of item.meses; track $index) {
      <details>
        <summary>{{ mes.nome }}</summary>
        @for (dia of mes.dias; track $index) {
            <div class="details-container">
              <div class="container-dias">
                <div class="semana" [class.destaqueSemana]="dia.numero === proximoEvento() && mes.numero === mesNumero()">{{ dia.nome }}</div>
                <div
                  class="dia"
                  [class.proximo]="dia.numero === proximoEvento() && mes.numero === mesNumero()"
                >
                  {{ dia.numero }}
                </div>
              </div>
              <div class="tarefas">{{ dia.tarefa }}</div>
            </div>
          }
      </details>
    }
  </div>
}