*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "Namdhinggo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

body {
  height: 100%;
}
